/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Common Style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1600px;
    margin: 0 auto;
    margin-bottom: 180px;
}

/* Heading Style Start */
.header {
    background-color: black;
    border-radius: 30px;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 700px;
    align-items: center;
    margin-top: 80px;
}

.header_text h1 {
    font-weight: 700;
    font-size: 80px;
    max-width: 630px;
    line-height: 80px;
    margin: 0;
}

.header_text p {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    max-width: 550px;
    margin: 25px 0px 45px 0px;
}

.header_text a {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    padding: 15px 40px;
    text-decoration: none;
    font-size: 23px;
    transition: .3s ease-in;
}

.header_text a:hover {
    background-color: #DD0000;
    color: #fff;
}

.header_text a:hover i {
    transform: rotate(180deg);
    transition: .3s ease-in;
    color: #fff;
}

.header_img img {
    height: 600px;
    margin-top: 106px;
}

/* Heading Style End */

/* Blog Style Start */

.blog_content img {
    width: 100%;
}

.blog_content a {
    padding: 7px 20px;
    border: 1.5px solid #000;
    color: #000;
    text-decoration: none;
    font-size: 18px;
    margin-left: 20px;
    border-radius: 5px;
    font-weight: 500;
    line-height: 70px;
}

.blog_content h3 {
    margin-left: 20px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.blog_icon img {
    width: 30px;
    height: 28px;
    margin-right: 10px;
}

.blog_icon p {
    display: inline;
    font-size: 20px;
}

.blog_icon {
    display: flex;
    margin-left: 20px;
    margin-bottom: 25px;
}

article {
    border: .5px solid #E8E8E8;
    border-radius: 15px;
}

.blog_time {
    display: flex;
    margin-right: 40px;
    align-items: center;
}

.blog_comment {
    display: flex;
    align-items: center;
}

.blog_section {
    padding: 15px;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 350px repeat(12, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
}

.blog_section>.sidenav {
    grid-row: 1 / 2;
    background-color: black;
    color: #fff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    height: 380px;
}

.blog_section>.sidenav a {
    background-color: #fff;
    border-radius: 8px;
    color: #000;
    text-decoration: none;
    font-size: 23px;
    width: 250px;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

.sidenav a:last-child {
    background-color: red;
    color: #fff;
}

.blog-1 {
    grid-column: 2 / 6;
}

.blog-2 {
    grid-column: 6 / 10;
}

.blog-3 {
    grid-column: 10 / 14;
}

.blog-4 {
    grid-column: 2 / 6;
}

.blog-5 {
    grid-column: 6 / 10;
}

.blog-6 {
    grid-column: 10 / 14;
}

.blog-7 {
    grid-column: 2 / 6;
}

.blog-8 {
    grid-column: 6 / 10;
}

.blog-9 {
    grid-column: 10 / 14;
}

/* Blog Style End */

/* Footer Style Start */

.footer_section {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 130px 0px;
}

.footer_heading h2 {
    font-size: 50px;
    font-weight: 500;
    margin: 0;
}

.footer_section hr {
    width: 1600px;
    border: 0.5px solid #2D2D2D;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer_links {
    margin-bottom: 50px;
}

.footer_links a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 20px;
    margin-right: 50px;
}

.footer_social_media_icons a {
    padding: 15px 5px 15px 5px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: #B9B9B9;
    border: 0.5px solid #B9B9B9;
    border-radius: 353px;
    margin-right: 10px;
    transition: .3s ease-in;
}

.footer_social_media_icons a:hover {
    background-color: #fff;
    color: #000;
}

/* Footer Style End */